Repository Zephilinox/Meh: changes, and which Codecov flags are due for each by the changed paths.
All: CoreClient, CoreCommon, CoreServer, MehClient, MehCommon, MehServer

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  CoreClient:
    paths:
      - CoreClient
    carryforward: true
  CoreCommon:
    paths:
      - CoreCommon
    carryforward: true
  CoreServer:
    paths:
      - CoreServer
    carryforward: true
  MehClient:
    paths:
      - MehClient
    carryforward: true
  MehCommon:
    paths:
      - MehCommon
    carryforward: true
  MehServer:
    paths:
      - MehServer
    carryforward: true

Update README badges
  README.md
Due: none

CoreCommon: Add IMGUI for SDL/GL
  CMakeLists.txt
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/IMGUI/IMGUI.hpp
  CoreCommon/src/CoreCommon/IMGUI/IMGUI_SDL_GL.cpp
  CoreCommon/src/CoreCommon/IMGUI/IMGUI_SDL_GL.hpp
  CoreCommon/src/CoreCommon/Input/Events.hpp
  CoreCommon/src/CoreCommon/Window/WindowNone.hpp
  CoreCommon/src/CoreCommon/Window/WindowSDL.cpp
  CoreCommon/src/CoreCommon/Window/WindowSDL.hpp
  MehClient/src/MehClient/Game.cpp
  MehClient/src/MehClient/Game.hpp
Due: CoreCommon, MehClient

Disable MSVC warning about unknown warnings
  cmake/CompilerWarnings.cmake
Due: none

more clang-format things
  CommonLib/src/CommonLib/WebSocket/WebSocketPackets.hpp
Due: none

Clang-format does not like "{" on the same line
  CommonLib/src/CommonLib/WebSocket/WebSocketPackets.hpp
Due: none

Add Web Socket enums and base packet class. Added PCH
  CommonLib/src/CMakeLists.txt
  CommonLib/src/CommonLib/WebSocket/WebSocketPackets.hpp
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

Hopefully fixes clang build
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

asio pre-processors
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

Disable MSVC warning 4619 for ASIO
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

more more clang-format things
  CommonLib/src/CommonLib/WebSocket/WebSocketPackets.hpp
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

Another attempt to make MSVC happy
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

😭😭😭
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

clang-format thing
  CommonLib/src/CommonLib/WebSocket/WebSocketPackets.hpp
Due: none

Install clang for up-to-date linting
  .github/workflows/Linting.yml
Due: none

commonlib clang-tidy requires commonlib to be built, due to needing the precompiled header
  CommonLib/CMakeLists.txt
Due: none

Move things to CoreCommon now
  CommonLib/CMakeLists.txt
  CommonLib/src/CMakeLists.txt
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/WebSocket/WebSocketPackets.hpp
Due: CoreCommon

adding PCH again. Hopefully does not break anything
  CoreCommon/src/CMakeLists.txt
Due: CoreCommon

removing pch for now
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/pch.hpp
Due: CoreCommon

Add Web Socket enums and base packet class. (#11)
  .github/workflows/Linting.yml
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/WebSocket/WebSocketPackets.hpp
  CoreCommon/src/CoreCommon/pch.hpp
  cmake/CompilerWarnings.cmake
Due: CoreCommon

writing data to packets
  CoreCommon/src/CoreCommon/WebSocket/WebSocketPackets.hpp
Due: CoreCommon

Added a test for Packet
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/Net/WebSocketPackets.hpp
  CoreCommon/src/CoreCommon/WebSocket/WebSocketPackets.hpp
  CoreCommon/tests/CMakeLists.txt
  CoreCommon/tests/Net/WebSocketPacket.test.hpp
  CoreCommon/tests/main.cpp
Due: CoreCommon

Some of the WebSocket stuff
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/Net/WebSocketPackets.hpp
  CoreCommon/src/CoreCommon/Net/websocket.cpp
  CoreCommon/src/CoreCommon/Net/websocket.hpp
  CoreCommon/tests/Net/WebSocketPacket.test.hpp
Due: CoreCommon

Integrated basic renderer API and GLES subsystem
  CoreCommon/src/CoreCommon/Window/Window.hpp
  CoreCommon/src/CoreCommon/Window/WindowNone.cpp
  CoreCommon/src/CoreCommon/Window/WindowNone.hpp
  CoreCommon/src/CoreCommon/Window/WindowSDL.hpp
  MyApp/src/Renderer/GLES/RendererGLES.cpp
  MyApp/src/Renderer/GLES/RendererGLES.hpp
  MyApp/src/Renderer/RendererBase.hpp
Due: CoreCommon

Implemented camera object.
  MyApp/src/Camera/Camera.cpp
  MyApp/src/Camera/Camera.hpp
  MyApp/src/Renderer/GLES/RendererGLES.cpp
  MyApp/src/Renderer/GLES/RendererGLES.hpp
  MyApp/src/Renderer/RendererBase.hpp
Due: none

Fixed static analysis and added RenderableBase template
  MyApp/src/Renderables/RenderableBase.hpp
  MyApp/src/Renderer/GLES/RendererGLES.cpp
  cmake/FetchGLM.cmake
Due: none

Fixed GLM cmake file for interface compatability.
  cmake/FetchGLM.cmake
Due: none

Rebase and update the old renderer branch
  CoreCommon/src/CMakeLists.txt
  CoreCommon/src/CoreCommon/Camera/Camera.cpp
  CoreCommon/src/CoreCommon/Camera/Camera.hpp
  CoreCommon/src/CoreCommon/Renderables/RenderableBase.hpp
  CoreCommon/src/CoreCommon/Renderer/GLES/RendererGLES.cpp
  CoreCommon/src/CoreCommon/Renderer/GLES/RendererGLES.hpp
  CoreCommon/src/CoreCommon/Renderer/RendererBase.hpp
  CoreCommon/src/CoreCommon/Renderer/RendererData.hpp
  CoreCommon/src/CoreCommon/Window/Window.hpp
  CoreCommon/src/CoreCommon/Window/WindowNone.cpp
  CoreCommon/src/CoreCommon/Window/WindowNone.hpp
  CoreCommon/src/CoreCommon/Window/WindowSDL.cpp
  CoreCommon/src/CoreCommon/Window/WindowSDL.hpp
  cmake/FetchGLM.cmake
Due: CoreCommon
